@media screen and (max-width:767px) 
{
    #background_pics{
        width: 100%;
        height: 90%;
    
    }
    #footer{
        position: absolute;
        top: 670px;
        width: 100%;
        height: 250px;
        background-color: rgb(15, 15, 15);

    }


    #footer_text1{
        position: absolute;
        left: 140px;
        top: 15px;
        color: azure;
        font-size: 20px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 800;
    }
    #footer_text2{
        position: absolute;
        left: 120px;
        color: cornflowerblue;
        font-size: 12px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


    }
    #footer_text3{
        position: absolute;
        left: 140px;
        top: 80px;
        color: cornflowerblue;
        font-size: 12px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


    }
    #footer_text4{
        position: absolute;
        left: 180px;
        top: 110px;
        color: cornflowerblue;
        font-size: 12px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    }
    #footer_text5{
        position: absolute;
        left: 40px;
        top: 150px;
        color: azure;
        font-size: 12px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


    }
    #blur_background{
        width: 100%;
        height: 90%;
        background-color: rgba(10, 10, 10, 0.7);
        position: absolute;
        top: 1px;

        
    }
   
    #space{
        width: 90%;
        height: 68%;
        background-color: rgba(10, 10, 10, 0.8);
        border-radius: 20px;
        position: absolute;
        bottom: 100px;
        left: 20px;
        


    }
   
    #Ab{
        margin-left: 70px;
        margin-top: 50px;
        width: 200px;
        height: 50px;
        border-radius: 5px;
        border: none;
        background-color: rgb(43, 41, 41);
        color: azure;

    
    }
    #Ab1{
        margin-left: 70px;
        width: 200px;
        height: 50px;
        border-radius: 5px;
        border: none;
        background-color: rgb(40, 38, 38);
        color: azure;

    
    }
    #Ab2{
        margin-left: 70px;
        width: 200px;
        height: 50px;
        border-radius: 5px;
        background-color: cornflowerblue;
        font-size: 15px;
        color: azure;
        border: none;
        cursor: pointer;
        
    
    }
    #me{
        font-size: 13px;
        margin-left: 110px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: azure;
    
    }
    #Ab3{
        margin-left: 80px;
        width: 180px;
        height: 50px;
        border-radius: 5px;
        background-color:  cornflowerblue;
        cursor: pointer;
        border: none;
    
    }

    #check_box{
        position: absolute;
        top: 410px;
        left: 60px;

    
    }
    #check_text{
        color: azure;
        font-size: 10px;
        position: absolute;
        top: 415px;
        left: 80px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    
    
    
    }
    #need_help{
        color: azure;
        font-size: 10px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        position: absolute;
        top: 415px;
        left: 250px;

    
    
    }
    #need_help1{
        color: azure;
        font-size: 10px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        position: absolute;
        top: 450px;
        left: 55px;
    
    
    }
    
}